.settings {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vh;
}

.settings .session, .settings .break {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}