.settings {
  align-items: center;
  display: flex;
  height: 7rem;
  flex-direction: row;
  margin: 2rem auto 0;
  justify-content: space-between;
  width: 25vw;
}

.settings .session, .settings .break {
  align-items: center;
  display: flex;
  height: 5rem;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-evenly;
}

.settings .time {
  font-weight: 1000;
}